@* @model ChatbotTry.ViewModels.ChatViewModel *@

<div class="text-center">
    <div class="view-container">

        <div class="main-circle">
            <div class="returns-texts">
                <p class="bot-response" id="bot-response-text">A</p>
                <p id="yt-media-link">Link: </p>
            </div>

            <div class="small-circle-border">
                <div class="small-circle-content"></div>
            </div>
            <div class="medium-circle-border">
                <div class="medium-circle-content">
                </div>
            </div>
        </div>

        <h1 class="title">Jarvis</h1>

        <input class="input-txt"
               type="text"
               id="user-message-input"
               required
               placeholder="Insira a mensagem ao Jarvis..." />

        <button type="button"
                id="user-message-send-button"
                onclick="sendMessageToJarvis()">
            Enviar
        </button>

        @* <form method="post" action="@Url.Action("Salvar")">
        <input class="input-txt" type="text" name="UserMessage" required
        placeholder="Insira a mensagem ao Jarvis..." />

        <button type="submit">Enviar</button>
        </form> *@
    </div>



    <iframe id="video-player" width="600" height="350"
            frameborder="0" allowfullscreen></iframe>

</div>

@section Scripts {
    <script type="text/javascript">

        function sendMessageToJarvis() {
            const userMessageInput = $("#user-message-input").val();

            $.ajax({
                type: "POST",
                url: "/Home/Salvar",
                dataType: "json",
                data: {
                    message_user: userMessageInput
                }
            }).done(function (chatViewModel) {
                const botResponse = $("#bot-response-text");
                const ytUri = $("#yt-media-link");

                if (chatViewModel.botResponse != null) {
                    botResponse.text(chatViewModel.botResponse);

                    if (chatViewModel.youtubeUri != null) {
                        ytUri.text(`Link: ${chatViewModel.youtubeUri}`);

                        const ytFrameElement = $("#video-player");
                        ytFrameElement.attr("src", chatViewModel.youtubeUri);
                    }
                }
                console.log(chatViewModel);
                console.log(chatViewModel.BotResponse);
            })
        }

    </script>
}