@using OpenQA.Selenium
@using OpenQA.Selenium.Chrome


<div class="text-center">
    <h1 class="display-4">Jarvis</h1>
    <p>Olá Lucas...</p>


    @* Abrir site *@
    <input type="text" id="website-name-input" required placeholder="Nome do site..." />
    <button type="button" id="website-name-button" onclick="openWebsite()">Enviar</button>

    @* Pressionar botão *@
    <input type="text" id="searching-button-to-press" required placeholder="Texto do botão a ser pressionado..." />
    <button type="button" id="send-button-to-press" onclick="pressButton()">Enviar</button>

    @* Preencher input *@
    <input type="text" id="input-searching-text" required placeholder="Input a ser inserido..." />
    <input type="text" id="input-new-value" required placeholder="Novo valor do input..." />
    <button type="button" id="insert-button" onclick="fillInput()">Enviar</button>

    @* Status *@
    <p id="jarvis-status"></p>

    @* Fechar navegador/driver *@
    <button type="button" onclick="quitSession()">Sair</button>





    @* Código exemplo *@
    <button type="button" id="btn-test" onclick="btnClick()">Testar</button>
    <p id="label-tst">Banana</p>
</div>

@section Scripts {
    <script type="text/javascript">

        // Abre o site pelo nome dele inserido
        function openWebsite() {
            // Desativa botão
            var button = $("#website-name-button");
            button.prop("disabled", true); // Desabilita o botão

            // Pega o valor do input
            var inputValue = $("#website-name-input").val();

            // Atualiza o status do Jarvis
            var jarvisStatus = $("#jarvis-status");
            jarvisStatus.text(`Entrando no site ${inputValue}...`);

            $.ajax({
                type: "POST",
                data: {
                    websiteName: inputValue
                },
                url: "/Home/OpenWebsiteRequest",
                dataType: "json",
            }).done(function (returnMessage) {
                jarvisStatus.text(returnMessage);
            }).fail(function () {
                jarvisStatus.text(`Houve um erro com a requisição realizada!: ${textStatus}   ${errorThrown}`);
                console.log("Erro: ", textStatus, errorThrown); // Verifica o erro
            }).always(function () {
                button.prop("disabled", false); // Reabilita o botão após a conclusão da requisição
            });
        }

        function pressButton() {
            // Desativa botão
            var button = $("#send-button-to-press");
            button.prop("disabled", true); // Desabilita o botão

            // Pega o valor do input
            const searchingBtnText = $("#searching-button-to-press").val();

            // Atualiza o status do Jarvis
            var jarvisStatus = $("#jarvis-status");
            jarvisStatus.text(`Clicando... ${searchingBtnText}`);

            $.ajax({
                type: "POST",
                data: {
                    buttonText: searchingBtnText
                },
                url: "/Home/PressButton",
                dataType: "json",
            }).done(function (returnMessage) {
                jarvisStatus.text(returnMessage);
            }).fail(function () {
                jarvisStatus.text(`Houve um erro com a requisição realizada!: ${textStatus}   ${errorThrown}`);
            }).always(function () {
                button.prop("disabled", false); // Reabilita o botão após a conclusão da requisição
            });
        }

        function fillInput() {
            // Desativa botão
            var button = $("#insert-button");
            button.prop("disabled", true); // Desabilita o botão

            // Pega o valor dos inputs
            const searchingInputText = $("#input-searching-text").val();
            const newInputValue = $("#input-new-value").val();

            // Atualiza o status do Jarvis
            var jarvisStatus = $("#jarvis-status");
            jarvisStatus.text(`Inserindo '${inputValue}' em ${searchingInputText}...`);
            $.ajax({
                type: "POST",
                data: {
                    searchingInput: searchingInputText,
                    newInputValueInserted: newInputValue
                },
                url: "/Home/InsertInputValue",
                dataType: "json",
            }).done(function (returnMessage) {
                jarvisStatus.text(returnMessage);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                jarvisStatus.text(`Houve um erro com a requisição realizada!: ${textStatus}   ${errorThrown}`);
                console.log("Erro: ", textStatus, errorThrown); // Verifica o erro
            }).always(function () {
                button.prop("disabled", false); // Reabilita o botão após a conclusão da requisição
            });
        }


        function quitSession() {
            // Atualiza o status do Jarvis
            var jarvisStatus = $("#jarvis-status");

            $.ajax({
                type: "POST",
                url: "/Home/QuitSession"
            }).done(function () {
                jarvisStatus.text("Site fechado!");
                alert("Site encerrado!");
            }).fail(function () {
                alert("Houve um erro com a requisição realizada!");
                jarvisStatus.text("Houve um erro com a requisição realizada!");
            })
        }



        function getDados() {
            $.ajax({
                // Tipo da requisição
                type: "GET",
                // URL para o método
                url: "/Home/GetDados",
                // Tipo do retorno esperado
                dataType: "json"
            }).done(function (result) {
                alert(result);
            })
        }
    </script>
}