.title-main {
    font-family: 'Great-Vibes-Regular';
    font-weight: lighter;
    text-shadow: 0 4px 4px black;
    font-size: 64px;
    color: white;
}

.paragraph-1 {
    font-family: 'Quicksand-Regular';
    font-size: 14px;
    color: black;
}