@font-face {
    font-family: 'Great-Vibes-Regular';
    src: url(../assets/fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: 'PtSerif-Bold';
    src: url(../assets/fonts/PT_Serif/PTSerif-Bold.ttf);
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}



/* Reset do CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    outline: none;
    overflow-x: unset;
}


.title-serif-bold-medium {
    font-family: 'PtSerif-Bold';
    font-size: 25px;
    color: white;
}

.title-titillium-medium {
    font-family: 'TitilliumWeb-Regular';
    font-size: 18px;
    color: white;
}

.title-serif-bold-small {
    font-family: 'PtSerif-Bold';
    font-size: 20px;
    color: white;
}




/* Centraliza o conteúdo geral do site */
.layout-grid {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.logotipo {
    height: 61px;
}



/* Header */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 90px;
    max-height: 111px;
    width: 100%;

    background-color: #1B4163;
    box-shadow: 0 2px 15px black;
}

header .flex-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 90px;
}

header .menu-hambuger {
    display: none;
}

header .navigation-links {
    display: flex;
    justify-content: space-between;

    width: 450px;
}

header .navigation-links a {
    padding: 15px 0;
    width: 100px;
    text-align: center;

    border-radius: 10px;

    z-index: 1;
    position: relative;
}

/* Hover effect */
header .navigation-links a::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    /* Esconde o preenchimento */
    width: 0;
    height: 100%;
    border-radius: 10px;

    background-color: #132e46;
    box-shadow: none;

    /* Para o preenchimento não cobrir o texto */
    z-index: -1;
    transition: .4s ease;
}

/* Ao realizar o HOVER... as propriedades do "a::before" receberão... */
header .navigation-links a:hover::before {
    width: 100%;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.541);
}

main {
    margin-top: 90px;
}

/* HOME BANNER */

/* Home banner container */
main section {
    width: 100%;
    height: 945px;

    background-image: url(../assets/images/fundo-biblia.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* filter: blur(28px); */
}

main #home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding-top: 70px;
    height: 946px;
}

main #home-banner h1 {
    margin-bottom: 70px;
}


/* Search Elements */
section #home-banner #search-elements {
    display: flex;
    flex-direction: row;
    gap: 15px;

    width: 100%;
    height: 38px;
}

section #home-banner #search-elements input {
    position: relative;
    height: 100%;
    width: 85%;
    padding: 0 18px;

    border: none;
    border-radius: 8px;
    /* background-image: linear-gradient(90deg, rgba(217, 217, 217, 0.84), rgba(217, 217, 217, 0.37)); */
    color: black;
    background-color: rgba(217, 217, 217, 0.74);
}

section #home-banner #search-elements input::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

section #home-banner #search-elements input::placeholder {
    color: black;
}

section #home-banner #search-elements button {
    position: relative;
    height: 100%;
    width: 15%;

    border: 1px solid white;
    border-radius: 8px;

    transition: background-color ease 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

section #home-banner #search-elements button::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(12px);
}

section #home-banner #search-elements button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

section #home-banner #country-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 17px; */

    width: 112%;
    height: 92px;

    margin: 0 auto;
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(71, 66, 80, 0.44);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

section #home-banner #country-filter-container img {
    border-radius: 8px;
    height: 60px;
    width: 60px;
}



/* Cards container */
section #cards-container{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 20px;
}


/* Card */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .card {
    position: relative;
    /* z-index: 1; */

    width: 380px; /* 419px */
    height: 447px;
    /* transition: opacity ease 1s; */
}
article .card > img{
    width: 100%;
    height: 447px;
}

article .card:hover .hovered-infos-container {
    display: flex;
    flex-direction: column;
    direction: column;
    align-items: center;
    justify-content: space-between;

    opacity: 1;
}

/* Card-on-hover */
article .hovered-infos-container {
    display: unset;

    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */

    width: 100%;
    height: 100%;

    border-radius: 25px;
    padding: 20px 60px;
    opacity: 0;

    background-image: linear-gradient(to bottom, rgba(71, 66, 80, 0.5), rgba(71, 66, 80, 0.33));
    backdrop-filter: blur(33px);
    transition: opacity ease 0.5s;
    text-align: center;
}

article .hovered-infos-container p {
    margin-top: 30px;
    text-align: justify;
    word-spacing: 2px;

    font-family: 'Quicksand-Regular';
    font-size: 16px;
    color: black;
}

article .publishment-author-container a {
    color: rgb(0, 174, 255);
    text-decoration: underline;
}


/* Mobile <= 768px */
@media screen and (max-width: 768px) {

    /* Header */
    .logotipo {
        height: 50px;
    }

    header .navigation-links {
        display: none;
    }

    header .show-in-mobile {
        display: block;
    }

    /* Home Banner */
    #home-banner .title-main {
        margin-top: -25px;
        font-size: 40px;
    }

    #home-banner #search-elements button span {
        display: none;
    }

    #home-banner #search-elements button {
        background-image: url(../assets/icons/icone-pesquisa.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
    }

    /* Location Filter */
    #home-banner #country-filter-container {
        height: 80px !important;
    }

    #home-banner #country-filter-container img {
        width: 60px !important;
        height: 60px !important;
    }
}